@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: #2e3c55;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
/* Header styling */
.nav-bar {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #2e3c55;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 9%;
  z-index: 1000;
  border-bottom: 2px solid #475c80;
}
.nav-bar a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  transition: 0.5s;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li:hover a {
  color: #7cf03d;
}
.nav-bar ul li:active a {
  color: #7cf03d;
}
.nav-bar ul li {
  list-style: none;
  margin-left: 35px;
}
.nav-bar #logo {
  font-size: 30px;
  font-weight: 800;
}
.nav-bar #logo span {
  color: #7cf03d;
}

/* Hamburger styling */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  /* z-index: 1100; */
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #98e072;
  margin: 4px 0;
  border-radius: 2px;
}

/* Hamburger animation */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Hero-section styling */
.hero-section {
  text-align: center;
  color: white;
  padding-top: 200px;
  font-family: "Open Sans", sans-serif;
  line-height: 40px;
}
.hero-section h1 {
  font-size: 50px;
  font-weight: 800;
  padding-bottom: 30px;
}
.hero-section h1 span {
  color: #7cf03d;
}
.hero-section h2 {
  display: inline-block;
  font-size: 30px;
}
.hero-section h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px #7cf03d;
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}
@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}
.hero-section h2 span ::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #7cf03d;
  color: #7cf03d;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}
@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.hero-section p {
  max-width: 650px;
  margin-left: 370px;
  font-size: 17px;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  letter-spacing: 0.2rem;
  background-color: #7cf03d;
  border: 2px solid #7cf03d;
  border-radius: 40px;
  box-shadow: 0 0 10px #7cf03d;
  margin-top: 20px;
  font-size: 18px;
  color: #1f242d;
  font-weight: 600;
  transition: 0.5s;
}
.btn:hover {
  background: transparent;
  color: #7cf03d;
  box-shadow: none;
  transform: translateY(-3px);
}
/* About styling */
#about {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 40px;
}
.about-description {
  font-size: 50px;
  font-weight: 800;
  color: #7cf03d;
  padding-top: 130px;
  padding-bottom: 40px;
}
.about-text {
  max-width: 1200px;
  padding-left: 100px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 400;
  color: #d1f3bf;
}
/* Project styling */
#projects {
  font-family: "Open Sans", sans-serif;
}
#projects h2 {
  font-size: 50px;
  font-weight: 800;
  color: #7cf03d;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 70px;
}
.project-container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  gap: 2rem;
  margin: auto;
}

.project-card {
  background: transparent;
  border: 2px solid #7cf03d;
  color: #d1f3bf;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  line-height: 30px;
  max-width: 450px;
}
.project-card h3 {
  font-size: 20px;
  padding-bottom: 20px;
  color: #98e072;
}

.project-card:hover {
  transform: translateY(-15px);
}

.project-card .links a {
  display: inline-block;
  margin: 0.5rem;
  padding: 10px 30px;
  background-color: #d1f3bf;
  border: 2px solid #d1f3bf;
  border-radius: 40px;
  box-shadow: 0 0 5px #d1f3bf;
  margin-top: 20px;
  font-size: 16px;
  color: #1f242d;
  font-weight: 600;
  transition: 0.5s;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-left: 70px;
}
.project-card img {
  object-fit: contain;
}
.project-container1 {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  gap: 2rem;
  margin: auto;
}

.project-card1 {
  background: transparent;
  border: 2px solid #7cf03d;
  color: #d1f3bf;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  line-height: 30px;
  max-width: 415px;
}
.project-card1 .links a {
  display: inline-block;
  margin: 0.5rem;
  padding: 10px 30px;
  background-color: #d1f3bf;
  border: 2px solid #d1f3bf;
  border-radius: 40px;
  box-shadow: 0 0 5px #d1f3bf;
  margin-top: 20px;
  font-size: 16px;
  color: #1f242d;
  font-weight: 600;
  transition: 0.5s;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-left: 70px;
}
/* Experience styling */
#experience {
  font-family: "Open Sans", sans-serif;
}
#experience h2 {
  font-size: 50px;
  font-weight: 800;
  color: #7cf03d;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 70px;
}
.experience-card {
  background: transparent;
  border: 2px solid #7cf03d;
  color: #d1f3bf;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  line-height: 30px;
  max-width: 450px;
  margin-left: 450px;
}
.experience-card:hover {
  transform: translateY(-15px);
}
.experience-card h3 {
  font-size: 20px;
  padding-bottom: 20px;
  color: #98e072;
}
.experience-card-list ul li {
  padding-left: 20px;
  padding-top: 20px;
}
/* Skills styling */
#skills {
  font-family: "Open Sans", sans-serif;
}
#skills h2 {
  font-size: 50px;
  font-weight: 800;
  color: #7cf03d;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 70px;
}
.skill-card-container {
  display: flex;
  justify-content: space-evenly;
}
.skill-card {
  background: transparent;
  border: 2px solid #7cf03d;
  color: #d1f3bf;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  line-height: 30px;
  max-width: 450px;
}
.skill-card:hover {
  transform: translateY(-15px);
}
/* Contact Styling */
.contact {
  font-family: "Open Sans", sans-serif;
  padding: 80px 10%;
  text-align: center;
  background: #2e3c55;
  color: #98e072;
  animation: fadeIn 1s ease-in;
  margin-top: 100px;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #98e072;
}

.contact h2 span {
  color: #fff;
}

.contact p {
  font-size: 1.1rem;
  color: #d1f3bf;
  margin-bottom: 30px;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.contact-link {
  display: inline-block;
  background: transparent;
  border: 2px solid #98e072;
  padding: 12px 25px;
  border-radius: 8px;
  color: #98e072;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s ease;
}

.contact-link:hover {
  background: #98e072;
  color: #2e3c55;
  transform: translateY(-3px);
}

/* Smooth fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background-color: transparent;
  text-align: center;
  padding: 2.5rem;
  letter-spacing: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #98e072;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  height: 110px;
}
@media (max-width: 600px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
  }
  .nav-bar ul li {
    display: none;
  }
  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #2e3c55;
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
    /* z-index: 1500; */
  }

  .nav-menu.active {
    display: flex;
    max-height: 500px;
  }

  .nav-menu li {
    padding: 15px;
    text-align: center;
  }
  /* Hero styling */
  .hero-section {
    padding-top: 170px;
    line-height: 25px;
  }
  .hero-section h1 {
    font-size: 35px;
  }
  .hero-section h2 {
    font-size: 25px;
  }
  .hero-section p {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    font-size: 17px;
  }
  /* About styling */
  #about {
    padding: 20px;
  }
  .about-description {
    padding-top: 90px;
    padding-bottom: 40px;
  }
  .about-text {
    max-width: 1200px;
    padding-left: 5px;
    line-height: 30px;
    font-size: 20px;
    text-align: justify;
  }
  /* Project styling */
  #projects h2 {
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .project-container {
    display: flex;
    flex-direction: column;
  }
  .project-card img {
    height: 160px;
  }
  .project-card1 img {
    height: 160px;
  }
  /* Experience styling */
  #experience h2 {
    padding-top: 110px;
    padding-bottom: 70px;
  }
  .experience-card {
    padding: 1.5rem;
    line-height: 30px;
    width: 350px;
    margin-left: 12px;
  }
  /* Skill styling */
  .skill-card-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 300px;
    margin: auto;
  }
  /* contact styling */
  .contact {
    margin-top: 50px;
  }
  /* Footer styling */
  footer {
    font-size: 8px;
    padding: 0.5rem;
    letter-spacing: 3px;
    height: 110px;
  }
}
